body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.checklist {
  width: 60vw;
  height: 50vh;
}

.checklist h1 {
  text-align: center;
}

.task {
  padding: 1rem;
}

.task input {
  margin-right: 1rem;
}

.loadbar {
  width: 100%;
  height: 10px;
  background-color: #eee;
}

.progress {
  height: 100%;
  background-color: coral;
}
